.button {
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    margin:5px;
}
.scissor {
    border: 3px solid blue;
}
.scissor:hover {
    background-color: blue;
    color:white;
}
.scissor:active {
    background-color: rgb(0, 0, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.rock {
    border: 3px solid red;
}
.rock:hover {
    background-color: red;
    color:white;
}
.rock:active {
    background-color: rgb(173, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.paper {
    border: 3px solid silver;
}
.paper:hover {
    background-color: silver;
    color:white;
}
.paper:active {
    background-color: rgb(162, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.hide {
    display: none;
}
.reveal{
    display: block;
    border: 3px inset gray;
    background-color: gray;
    color:white;
    font-size:13px;
}
.reveal:hover{
    background-color: white;
    color:black;
}
.reveal:active{
    background-color:rgb(206, 206, 206);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.reset{
    font-size:15px;
    border: 3px dotted cyan;   
    background-color:black;
    color: white;
}
.reset:hover{
    background-color:darkblue;
    color:yellow;
}
.reset:active{
    background-color:rgb(1, 1, 101);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.border{
    border: 3px solid black;
    size: auto;
}
.scoreBoard {
    display: flex;
    height:100px;
    width:270px;
    justify-content: space-between;
}
.scoreBoard p{
    margin-bottom: 8px;
    font-size: 110%;
    font-weight: 900;
}
.number{
    width:10px;
    margin: 0 auto;
    font-size: 140%;
}
.resultUtilityBundle{
    display:flex;
    flex-direction: column;
}
.results{
    width: 270px;
}
.utilityButtons{
    display: flex;
    width:260px;
    justify-content: space-around;
}

.choiceButtons {
    display: flex;
    width: 270px;
    justify-content: space-around;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* border: 3px solid black; */
    padding: 100px;
}